@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Domine|Inconsolata');
//-----------------------------
//  Variables
//-----------------------------
$bg: #d8d1c7;
$calm: #A69C90;
$section-title-color: #565853;
$emphasis: #246C5B;
$moustache: #42332C;
$font-color: #30312C;
$nav-bg: #b1a99c;
$picture-bg: lighten($calm, 5%);
$title-font-family: 'Arvo',
serif;
//-----------------------------
//  MIXINS
//-----------------------------
@mixin title {
  &.section-title {
    color: $section-title-color;
    text-transform: uppercase;
    font-family: $title-font-family;
    font-weight: 700;
    text-align: center;
    border-top: 2px solid $calm;
    border-bottom: 2px solid $calm;
    margin-bottom: 20px;
    padding: 8px;
  }
}

@mixin subTitle {
  &.sub-title {
    color: $section-title-color;
    text-transform: uppercase;
    font-family: $title-font-family;
    text-align: left;
    border-bottom: 2px solid $calm;
    margin-bottom: 15px;
    padding: 5px;
  }
}

@mixin sectionPadding {
  padding: 15px 0;
}

@mixin button-hover($color,
$perc: 20%) {
  &:hover {
    background: darken($color, $perc);
  }
}

//-----------------------------
html {
  font-size: 15px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background: $bg;
  position: relative;
}

p {
  color: $font-color;
  font-family: 'Domine', serif;
}

h2 {
  @include title();
}

h3 {
  @include subTitle();
}

::selection {
  background: #67BDA9;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #67BDA9;
  /* Gecko Browsers */
}

//-----------------------------
//  Navigation
//-----------------------------

// New Navbar
.navbar {
  background: #b1a99c;
  border-bottom: 8px solid #565853;
  font-family: 'Arvo', serif;
  padding: 0;

  .navbar-brand {
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: darken($calm,10%);
      font-weight: 700;
      transition: all .3s ease-in;
      &:hover,
      &:focus {
        color: $section-title-color;
      }
  }

  button.navbar-toggler {
    border: 0;
    font-size: 2rem;
        padding-top: 1rem;
    cursor: pointer;
    &:focus {
      outline: 1px solid $calm;
    }
  }

  .navbar-nav .nav-item {
    border-top: 2px solid #a69c90;
    font-size: 1rem;
    padding: .5rem 0;
    text-transform: uppercase;
    & > * {
      border: 2px solid transparent;
      transition: border .3s ease-in, background .3s ease-in,;
    }

    .active {
      background: #d8d1c7;
      border: 2px solid #9b8f82;

    }
  }
}

//-----------------------------
//  Header
//-----------------------------
header {
  margin-top: 150px;
  margin-bottom: 50px;
  position: relative;
  img.brand {
    margin-bottom: 10px;
  }
  .down-arrow {
    font-size: 6rem;
    line-height: 4rem;
    text-align: center;
    animation: bouncing 1s ease-in infinite;
    a {
      color: $section-title-color;
      &:hover {
        color: $section-title-color
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

//-----------------------------
//  About
//-----------------------------
#about {
  @include sectionPadding();

  .profile-pic-col {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $picture-bg;
    background-size: 3px 3px;
    border-bottom: 5px solid $section-title-color;
    margin-bottom: 20px;
    text-align: center;

    img {
      margin-top: 15px;
      margin-bottom: 15px;
      border: 3px solid $calm;
    }

    .quote {
      font-family: 'Inconsolata', serif;
      font-size: .9rem;
      color: lighten($font-color,20%);
      padding: 0 .5rem;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      color: $font-color;
      font-family: 'Domine', serif;
      text-transform: uppercase;
      .fa {
        color: $calm;
        margin-right: 5px;
      }
    }
  }
  .skills .row > *:last-child {
    border-left: 2px solid $calm;
  }
}

//-----------------------------
//  Projects
//-----------------------------
#projects {
  @include sectionPadding();
  #filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
    button {
      background: transparent;
      border: 2px solid $calm;
      color: $section-title-color;
      transition: all .1s ease-in;
      border-radius: 0;
      margin-bottom: 10px;
      cursor: pointer;
      font-family: 'Domine', serif;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.is-checked,
      &:hover {
        background: $calm;
      }
      &:focus,
      &:active {
        background: $calm;
        outline: 0;
        box-shadow: none;
      }
    }
  }
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  article {
    position: relative;
    overflow: hidden;
    padding: 15px;
    .thumbnail {
      display: inline-block;
      position: relative;
      overflow: hidden;
      .info {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100%;
        background: $calm;
        z-index: 2;
        transition: all .2s ease-in-out;
        h4 {
          margin-top: 11%;
          color: $section-title-color;
          font-family: $title-font-family;
          font-weight: 700;
          font-size: 1.5rem;
        }
        a:hover {
          color: $section-title-color;
        }
      }
      &:hover .info {
        top: 65%;
      }
    }
    img {
      padding: 5px;
      border: 2px solid $calm;
      filter: grayscale(100%);
      transition: all .5s ease-in-out;
    }
    &:hover img {
      filter: grayscale(0);
    }
  }
}

//-----------------------------
//  contact
//-----------------------------
#contact {
  @include sectionPadding();
  form .form-group {
    position: relative;
    margin-bottom: 15px;
  }
  form {
    input {
      padding: 15px 10px 15px 70px;
    }
    label {
      position: absolute;
      top: 15px;
      left: 15px;
      color: $calm;
      font-family: 'Domine', serif;
      text-transform: capitalize;
    }
    input,
    textarea {
      border-radius: 0px;
      background: transparent;
      margin-bottom: 15px;
      transition: box-shadow .3s ease-in;
    }
    input:active,
    input:focus,
    textarea:active,
    textarea:focus {
      border: 1px solid $calm;
      box-shadow: 0 0 2px $calm inset;
    }
  }
  button {
    background: $calm;
    border-radius: 0px;
    color: $section-title-color;
    padding: 15px 10px;
    text-transform: uppercase;
    font-family: $title-font-family;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all .2s ease-in;
    cursor: pointer;
    &:hover {
      color: $calm;
      background: $section-title-color;
    }
  }
}

//-----------------------------
//  Footer
//-----------------------------
footer {
  @include sectionPadding();
  text-align: center;
  .social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    border-top: 2px solid $calm;
    border-bottom: 2px solid $calm;
    padding: 30px;
    a {
      color: $section-title-color;
      font-size: 2.5rem;
      transition: all .3s ease-in;
      &:hover {
        color: $calm;
      }
    }
  }
  p {
    color: lighten($font-color, 30%);
    margin: 0;
    padding: 0;
  }
}

//-----------------------------
//  Animations
//-----------------------------
@keyframes bouncing {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}

//-----------------------------
//  Media Queries
//-----------------------------

@media (max-width: 576px) {
  .navbar .container {
    margin-left: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  #projects article .thumbnail .info h4 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .navbar {
    border-bottom: 3px solid #565853;
    transition: border .3s ease-in;

    &.nav-transform {
      border-bottom: 8px solid $section-title-color;
    }
  }

  .navbar .navbar-nav .nav-item {
      border-top: 0;
      flex: 1 1 130px;
      margin-left: 1.5rem;
      font-size: 1rem;
  }

}


@media (min-width: 992px) {
  #about .skills li {
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .navbar .navbar-nav .nav-item {
      margin-left: 2rem;
      font-size: 1.1rem;
  }
}


@media (min-width: 1200px) {
  header {
    .container {
      text-align: center;
    }
    .brand {
      height: 50vh;
      margin: 0 auto;
    }
  }
  #about .skills li {
    margin-bottom: 14px;
    text-transform: capitalize;
  }
  #projects article .thumbnail .info h4 {
    font-size: 1.5rem;
  }
}
